.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 4rem;
  }
  
  .car-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .car-list-item {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .car-list-item p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
  }
  
  .car-list-img img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  /* CarList.css */

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .main-container {
    padding: 10px;
  }
  
  .car-list-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .car-list-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .buttons-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons-container button {
    margin-right: 5px;
  }
  
  input[type="search"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding: 20px;
  }
  
  .car-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .car-list-item {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .car-list-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  input[type="search"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  .main-container {
    padding: 30px;
  }
  
  .car-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .car-list-item {
    border: 1px solid #ccc;
    padding: 30px;
  }
  
  .car-list-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .buttons-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  
  input[type="search"] {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 20px;
  }
}
