.header {
  background-color: black;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.nav-links li a:hover {
  color: #ff0000;
}

/* Media queries */

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .header {
    padding: 5px;
  }
  
  .logo {
    font-size: 20px;
  }

  .logo-img {
    height: 25px;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
}

/* Para pantallas medianas */
@media (min-width: 577px) and (max-width: 991px) {
  .header {
    padding: 15px;
  }
  
  .logo {
    font-size: 28px;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
}

/* Para pantallas grandes */
@media (min-width: 992px) {
  .header {
    padding: 20px;
  }
  
  .logo {
    font-size: 32px;
  }
  
  .nav-links li {
    margin-right: 25px;
  }
}
